# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.venv/

# Environment
.env

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Cached data
data_cache/

# Alembic
migrations/versions/__pycache__/
